*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

img{
    /* width:32px;
    height:32px; */
    /* position:absolute;
    top:-16px;
    right:-16px; */
    width:100%;
}

.notification{
    position:absolute;
    background:coral;
    display:inline-block;
    padding:2rem 1rem;
    bottom:20px;
    right:20px;
}

button{
    width:32px;
    height:32px; 
    position:absolute;
    top:-16px;
    right:-16px;
    border:none;
    /* padding:0; */
    background-color: transparent;
}

